.py-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.pt-50 {
	padding-top: 50px;
}
.pb-50 {
	padding-bottom: 50px;
}
.px-50 {
	padding-right: 50px;
	padding-left: 50px; 
}
nav {
	font-family: 'Raleway',sans-serif;
	padding: 20px 100px !important;
}
nav ul li a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	transition: all .3s
}
nav ul li:hover a {
	color: #000;
}
.logo {
	font-size: 26px;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 700;
}
/* slider */
.work-slider {
	position: relative;
	padding: 120px 100px;
	background: url('../img/slider_bg1.jpg');
	background-size: cover;
	background-position: bottom;
	text-align: center;
	background-attachment: fixed
}
.slider-icon {
	position: absolute;
	top: 50%;
	color: #fff;
	font-size: 24px;
	transform: translateY(-50%);
	transition: .3s;
	cursor: pointer;
}
.slider-icon:hover {
	color: #000;
}
.right-icon {
	right: 100px;
}
.content {
	font-family: 'Raleway',sans-serif;
	color: #181818;
	font-weight: 300;
}
.work-slider h1 {
	margin: 0;
	font-size: 30px;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 700;
}
.content h6 {
	display: inline-block;
	margin-left: 20px;
	font-weight: 300;
}
.content ul li {
	list-style: none;
	display: block;
	margin-bottom: 40px;
}
.work-icon {
	font-size: 16px;
}
.content p {
	margin-left: 40px;
	font-size: 12px;
}
.content p a {
	text-decoration: none;
	color: #181818;
}
.content p a:hover {
	text-decoration: underline;
}
p.desc {
	font-size: 12px;
	color: #959595;
	font-weight: 400;
	line-height: 22px;
}
/* check */
.check {
	background: #111;
	text-align: center;
	transition: .3s
}
.check:hover {
	background: #E0B000;
}
.check a {
	text-decoration: none;
	transition: .3s;
	color: #fff;
	font-size: 18px;
	font-family: 'Ubuntu',sans-serif;
}
footer {
	padding: 35px 0
}
footer p {
	font-weight: 300;
	font-family:'Raleway',sans-serif;
	color: #777;
	font-size: 13px;
}
footer ul li {
	display: inline-block;
	margin-left: 30px;
}
footer ul li a {
	font-size: 14px;
	color: #959595;
	transition: .3s
}
footer ul li a:hover {
	color: #E0B000;
}
